.cursor-pointer {
    cursor: pointer;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.header-icon {
    cursor: pointer;
    background-color: inherit;
    font-size: 1.4rem;
}

.content-wrapper {
    background-color: #eeeeee;
}

.main-logo {
    height: auto;
    width: 5rem;
}