*,
body,
.body {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  background-color: inherit;
}

span,
.span,
.p,
p {
  background-color: inherit;
}

i {
  background-color: inherit;
}

header,
.header {
  font-size: 1.5rem;
  background-color: var(--bs-body-bg);
  margin: 0 0 0 17.5rem;
  background-color: $app_header_bg;
}

footer,
.footer {
  margin: 0 0 0 17.5rem;
  background-color: $app_footer_bg;
}

.layout-main {
  margin: 5rem 1.4rem 0 19rem;
  height: 100%;
  background-color: inherit;
}

/* CUSTOM SCROLL STYLE */
::-webkit-scrollbar-track {
  border-radius: 10px;
  transition: all 0.3s;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  max-height: 10px;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 10px;
  background-color: $secondary_color;
}
